certifi==2021.5.30
click==7.1.2
Flask==1.1.2
Flask-Admin==1.5.8
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-SSE==1.0.0
Flask-WTF==0.15.1
gunicorn==20.0.4
Jinja2==2.11.2
MarkupSafe==2.0.1
wincertstore==0.2
requests==2.22.0
Flask-Cors==3.0.10
sib-api-v3-sdk==7.4.0
SQLAlchemy==1.4.25
Werkzeug==2.0.1
itsdangerous==2.0.1
Flask-Mail==0.9.1
Flask-SocketIO==4.3.1
eventlet==0.30.2
gevent-websocket==0.10.1
python-engineio==3.13.2
python-socketio==4.6.0
psycopg2-binary==2.8.6

