<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Unisci i punti</title>
  </head>
  <body>
    <div id="contaier_for_finish_game">

    </div>
    <div id="particelle">
    </div>
    
    <div class="d-flex align-items-center justify-content-center" style="width:100%;height:100vh;/* text-align: center; */">
      
      <svg preserveAspectRatio="xMinYMin meet"  id="svg" >
        {% for punto in punti %}
          <circle cx="{{punto.x * 100}}%" cy="{{punto.y * 100}}%" x = "{{punto.x * 100}}" y = "{{punto.y * 100}}" r="8" fill="white" data-click ="false"></circle>
        {% endfor %}
      </svg>
    </div>

    <template>
      <div class="finish_game d-flex justify-content-center align-items-center">
        <div>
          <p class="text-center">PERCORSO FINITO !</p>
          <p class="text-center">HAI TOTALIZZATO</p>
          <p id="punti" class="text-center">0 PUNTI</p>
          <div class="row">
            <div class="col-xl-6 col-md-12 mb-3 col-bottone-end-game">
              <button class="btn bottone_vuoto"><i class="bi bi-arrow-repeat"></i> RIPROVA</button>
            </div>
            <div class="col-xl-6 col-md-12  col-bottone-end-game">
              <button class="btn bottone_pieno dropdown-toggle" type="button" id="menuConfigurazione" data-bs-toggle="dropdown" aria-expanded="false">CONFIGURAZIONI</button>
              <ul class="dropdown-menu" aria-labelledby="menuConfigurazione">
                <li><a class="dropdown-item" href="#">20 PUNTI</a></li>
                <li><a class="dropdown-item" href="#">30 PUNTI</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </template>
      
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="./static/particles.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        particlesJS.load ('particelle', './static/particlesjs-config.json') 

        var svg_cont = document.getElementById ('svg')

        var x = 0;
        var y = 0;
        var last_click = null;

        var punti = 0;
        var audio = new Audio('./static/audio.mp4');

        var order_point_for_animation = Array ()

        const svgns = "http://www.w3.org/2000/svg";

            document.querySelectorAll('circle').forEach (circle => {
                circle.addEventListener ('click', function () {
                  console.log (this.getAttribute('data-click') )
                    if (x == 0 && y == 0)
                    {
                        x = this.getAttribute('x');
                        y = this.getAttribute('y');
                        last_click = this;
                        this.setAttribute('fill', 'green')
                        this.setAttribute ('data-closed', '1')
                        order_point_for_animation.push (this);
                    }
                    else 
                    {
                      if (this.getAttribute('data-click') == 'false' || this.getAttribute('data-closed') == '1' ) 
                      {
                          this.classList.add("on");
                          order_point_for_animation.push (this);
                          punti += Math.sqrt(Math.pow(x - this.getAttribute('x'), 2) + Math.pow(y - this.getAttribute('y'), 2))

                          //CREO LA LINEA DA AGGIUNGERE PER IL COLLEGAMENTO DEI PUNTINI

                          let line = document.createElementNS(svgns, "line");
                          line.setAttribute ('x1', last_click.getAttribute ('cx'));
                          line.setAttribute ('x2', this.getAttribute('cx'));
                          line.setAttribute ('y1', last_click.getAttribute ('cy'));
                          line.setAttribute ('y2', this.getAttribute('cy'));
                          line.setAttribute ('class', 'line_game');
                          svg_cont.appendChild (line)

                          last_click = this

                          this.setAttribute('data-click', 'true')
                          this.setAttribute('fill', '#ecca53')
                          audio.play();
                          if ( this.getAttribute('data-closed') == '1')
                          {
                            end_game();
                          }
                      }
                    }
                    
                })
            })

            function end_game () {
              let y = 0;
              order_line_for_animation = document.getElementsByTagName ('line')
              let len_line = order_line_for_animation.length;
              let end_game_line = setInterval(function(){                  
                    if (y == len_line)
                      {
                          clearInterval (end_game_line)
                          var end_game_screen = document.getElementsByTagName ('template')[0].content;
                          document.getElementById ('contaier_for_finish_game').appendChild (end_game_screen);
                          let punti_span = document.getElementById ('punti');
                          let i = 0;
                          let set_point_animation = setInterval(function(){ 
                            if (i > punti)
                            {
                              clearInterval (set_point_animation);
                            }
                            punti_span.innerHTML = String(i) + ' PUNTI';
                            i += 1;
                          }, 8)       

                      }
                      let line = document.createElementNS(svgns, "line");
                      line.setAttribute ('x1', order_line_for_animation[y].getAttribute ('x1'));
                      line.setAttribute ('x2', order_line_for_animation[y].getAttribute('x2'));
                      line.setAttribute ('y1', order_line_for_animation[y].getAttribute ('y1'));
                      line.setAttribute ('y2', order_line_for_animation[y].getAttribute('y2'));
                      line.setAttribute ('class', 'line_game_end');
                      svg_cont.appendChild (line)
                      y += 1;
                    }, 400);
                  }
            
      </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>